html {
	scroll-behavior: smooth;
}
body {
	padding: 2rem;
	background-color: #f4f4f4;
}
.range-div {
	width: 400px;
	border-radius: 1rem;
}
.range-values {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gap-line {
	height: 1rem;
}

.container {
	display: flex;
	justify-content: space-between;
}
.mainText {
	width: 100%;
	min-height: 350px;
	border-left:none;
	border-bottom:none;
	letter-spacing: 1px;
	padding: 1rem;
	outline:none;
	border-color: #c2c2c2
}
.summary-container {
	width: 100%;
	min-height: 419px;
	overflow: auto;
	background-color: #fff;
}
.input-box {
	width: 100%;
}
.header-box {
	display: flex;
	border-radius: 5px;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	background-color: #fff;
}

.footer-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	border-right: 1px solid #C2C2C2;
	background-color: #fff;
}
.summarize-btn {
	background-color: #fa565d;
	padding: 8px 12px;
	color: #fff;
	border-radius: 8px;
	outline: none;
}

#summary {
	padding: 1rem;
	height: 317px;
	border-top: 1px solid #C2C2C2;
}

#word-count {
	min-width: 100px;
	padding: 0.5rem 1rem;
}

.empty-div {
	min-width: 100px;
}

.hide {
	display: none;
}

#file-upload {
	display: none;
}
/* #summary {
	display: flex;
	align-items: center;
	justify-content: center;
} */
.loader {
	width: 20%;
	margin: auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #1c76fd; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 5px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}
